
Activity2/.project
Activity2/.settings/org.eclipse.core.resources.prefs
Activity2/.settings/org.eclipse.jdt.core.prefs
*.prefs
/.metadata/
*.properties
Activity1/.project
Activity_3/.classpath
Activity_3/.project
*.txt
RemoteSystemsTempFiles/.project
*.class
Activity_5/.project
Activity_5/.classpath
Activity_4/.project
Activity_4/.classpath
